#eyecatch
  .container
    .row
      .span12
        %p
          復習しないのは勉強しないのと同じ！
          %br
            revenger で復習しよう。
.container
  .row
    .span4
      %h2
        %i.fas.fa-star
        revenger とは？
      %p
        「忘れないようにメモしておこう」とブログや twitter 、evernote などにメモを残しても、結局見返さなかった、メモしたこと自体忘れてしまった。そんなことはありませんか？ revenger は、そんなあなたの復習ライフをサポートします。
    .span4
      %h2
        %i.fas.fa-pencil
        復習メモを残そう
      %p
        revenger で書いたメモは、全て「復習メモ」になります。復習メモは、レビューページに何度も現れます。レビューページをチェックして、知識を自分の頭の中に定着させましょう！
    .span4
      %h2
        %i.fas.fa-sync
        習慣づけのサポート
      %p
        revenger にアクセスすること自体を忘れてしまったら元も子もありません。そこで revenger では、過去に書いた復習メモを一つ添えてリマインダメールをあなたに送ります。新しい習慣を定着させるのは大変ですが、頑張りましょう！
