.bundle
.rbenv-version
bin
log/*
tmp/
vendor/bundle
TAGS
.sass-cache
db/sphinx
solr/data/*
solr/default/*
solr/development/*
solr/test/*
solr/pids/*
*.pid
public/assets
coverage
vendor/assets/components
config/database.yml
.env