.bundle
.rbenv-version
log/*
tmp/
vendor/bundle
TAGS
.sass-cache
db/sphinx
solr/data
solr/test/data
solr/development/data
solr/default/data
solr/pids
*.pid
public/assets
coverage
config/database.yml
.env
node_modules
