version: '3'
services:
  backend-base: &backend-base
    build:
      context: .
      dockerfile: ./Dockerfile
      args:
        RUBY_VERSION: '2.6.6'
        BUNDLER_VERSION: '2.1.4'
        YARN_VERSION: '1.21.1'
        NODE_MAJOR: '12'
    image: revenger-dev:1.0.0
    tmpfs:
      - /tmp
  mysql:
    image: mysql:8.0
    platform: linux/arm64/v8
    environment:
      - MYSQL_ALLOW_EMPTY_PASSWORD=yes
      - MYSQL_ROOT_HOST=%
    volumes:
      - mysql-data:/var/lib/mysql
  app:
    <<: *backend-base
    command: bundle exec rails s -p 3000 -b 0.0.0.0
    environment:
      DATABASE_URL: mysql2://root:@mysql:3306
    volumes:
      - .:/revenger
      - bundle_install:/usr/local/bundle
      - yarn_install:/revenger/node_modules
    ports:
      - 3000:3000
    depends_on:
      - mysql

volumes:
  mysql-data:
    driver: local
  bundle_install:
    driver: local
  yarn_install:
    driver: local
