version: 2
jobs:
  build:
    working_directory: ~/revenger
    docker:
      - image: circleci/ruby:3.0.7-node-browsers
    parallelism: 4
    steps:
      - checkout
      - run:
          name: upgrade google-chrome
          command: |
            wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo apt-key add - && sudo sh -c 'echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" >> /etc/apt/sources.list.d/google.list' && sudo apt-get update && sudo apt-get --only-upgrade install google-chrome-stable
      - restore_cache:
          keys:
            - revenger-yarn-{{ checksum "yarn.lock" }}
            - revenger-yarn-
      - run: gem install bundler -v 2.1.4
      - run: bundle install --path vendor/bundle
      - run: yarn install
      - save_cache:
          key: revenger-gem-{{ checksum "Gemfile.lock" }}
          paths:
            - vendor/bundle
      - save_cache:
          key: revenger-yarn-{{ checksum "yarn.lock" }}
          paths:
            - ~/.cache/yarn/
      - run: cp config/database.ci.yml config/database.yml
      - run: bundle exec rake db:create
      - run: bundle exec rake db:schema:load
      - run: |
          bundle exec rspec --profile 10 \
                            --format RspecJunitFormatter \
                            --out /tmp/test-results/rspec.xml \
                            --format progress \
                            $(circleci tests glob "spec/**/*_spec.rb" | circleci tests split --split-by=timings)
