[mysqld]
#
# memory for instance
#

max_connections         = 100
query_cache_size        = 16M
query_cache_limit       = 1M
max_allowed_packet      = 16M
thread_cache_size       = 30
table_open_cache        = 64
thread_concurrency      = 8

# innodb
innodb_buffer_pool_size         = 128M
innodb_additional_mem_pool_size = 10M
innodb_log_buffer_size          = 8M

# innodb(file)
innodb_log_file_size            = 128M

#
# memory for thread
#

thread_stack            = 128K
join_buffer_size        = 256K
sort_buffer_size        = 2M
read_rnd_buffer_size    = 1M


#
# log
#

# slow query log

slow_query_log = ON
slow_query_log_file = /var/log/mysqld-slow.log
long_query_time    = 2

# binary log
expire_logs_days        = 10
max_binlog_size         = 100M

[mysqldump]
quick
quote-names
max_allowed_packet = 16M

[mysql]
default-character-set = utf8

[isamchk]
key_buffer = 16M
