- title '新規作成 - revenger'

= form_for(@post) do |f|
  %legend
    新規作成
    %small.pull-right
      =link_to 'markdown 記法', help_path(anchor: 'how-to-write')
      が利用できます
  = render 'errors', model: @post
  = f.text_area :body, id: 'post_body'
  %button.btn.btn-success{ type: 'submit', 'data-disable-with' => '<i class="icon-refresh icon-spin"></i> create!' }
    %i.icon-ok
    create!



